@import url("../../resources/bootstrap-3.3.5-dist/css/bootstrap.min.css");

.customwidth {
    width: 100px !important;
}


.btn-experiment {
    color:#00CC00;
    background-color:#000000;
    border-color:#00CC00;
    width: 150px !important;
}
.btn-experiment.focus,.btn-experiment:focus{
    color:#fff;
    background-color:#00CC00;
    border-color:#fff;
    width: 150px !important;
}
.btn-experiment:hover {
    color:#fff;
    background-color:#00CC00;
    border-color:#fff;
    width: 150px !important;
}
.btn-experiment:active {
    color:#111;
    background-color:#000000;
    border-color:#fff;
    width: 150px !important;
}
.btn-experiment.active:focus,.btn-experiment.active:hover,.btn-experiment:active.focus,.btn-experiment:active:focus,.btn-experiment:active:hover {
    color:#111;
    background-color:#00CC00;
    border-color:#fff;
}
body {
    background-color: #000000;
    color: #00CC00;
    font-family: "Arial";
}

img {
		width:500px;
		height:375px;
		padding:5px;
		border:1px solid #aaaaaa;
	
}

#expressioncontainer {
	width:370px;
	height:800px;
	padding:5px;
	float:right;
	border:1px solid #aaaaaa;
}

#outercontainer {
	width: 1220px;
	height: 850px;
	margin: auto;
	
}

#clockdiv{
  font-family: Arial;
  color: #00CC00;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}