html
{ height:100%}

*
{ margin:0;
  padding:0}

body
{ font:normal .80em arial;
  background:#F4F4EE;
  color:#5D5D5D}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0}
p
{ padding:0 0 20px 0;
  line-height:1.7em
}

img
{ border:0;
  }

h1, h2, h3, h4, h5, h6 
{ font:normal 175% arial;
  color:#43423F;
  margin:0 0 15px 0;
  padding:15px 0 5px 0}

h2
{ font:normal 165% arial;
  color:#43423F}

h3
{ font:normal 150% arial}

h4, h5, h6
{ margin:0;
  padding:0 0 5px 0;
  font:normal 120% arial;
  color:#43423F}

h5, h6
{ font:italic 95% arial;
  color:#888}

h6
{ color:#362C20}

a, a:hover
{ outline:none;
  font-weight:bold;
  text-decoration:none;
  color:#960000}

a:hover
{ text-decoration:none;
  color:#A4AA04}

.left
{ float:left;
  width:auto;
  margin-right:10px}

.right
{ float:right; 
  width:auto;
  margin-left:10px}

.center
{ display:block;
  text-align:center;
  margin:20px auto}

blockquote
{ margin:20px 0; 
  padding:10px 20px 0 20px;
  border:1px solid #E5E5DB;
  background:#FFF}

ul
{ margin:2px 0 22px 17px}

ul li
{ list-style-type:circle;
  margin:0 0 6px 0; 
  padding:0 0 4px 5px}

ol
{ margin:8px 0 22px 20px}

ol li
{ margin:0 0 11px 0}

#main, #logo, #menubar, #content_header, #site_content, #content_footer, #footer
{ margin-left:auto; 
  margin-right:auto}

#main
{ padding-bottom:20px}

#header
{ background:#3A332D;
  height:170px;
  margin-bottom:30px}

#logo
{ width:1150px;
  position:relative;
  height:134px;
  background:#3A332D url(logo.png) no-repeat center}

#logo #logo_text 
{ position:absolute; 
  top:10px;
  left:0}

#logo h1, #logo h2
{ font:normal 235% arial;
  border-bottom:0;
  text-transform:none;
  margin:0 0 0 9px}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding:22px 0 0 0;
  color:#FFF;
  letter-spacing:0.1em;
  text-decoration:none}

#logo_text h1 a .logo_colour
{ color:#ECEF01}

#logo_text h2
{ font-size:120%;
  padding:4px 0 0 0;
  color:#A8AA94}

#menubar
{ height:44px;
  width:1150px;
  margin:1px auto 0 auto} 

ul#menu
{ float:left}

ul#menu li
{ float:left;
  padding:0 0 0 6px;
  list-style:none;
  margin:2px 2px 0 0;
  background:#635B53 url(tab.png) no-repeat 0 0}

ul#menu li a
{ font:normal 100% arial;
  display:block; 
  float:left; 
  height:20px;
  padding:6px 28px 5px 22px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  background:#635B53 url(tab.png) no-repeat 100% 0} 

ul#menu li.tab_selected a
{ height:20px;
  padding:6px 28px 5px 22px}

ul#menu li.selected
{ margin:2px 2px 0 0;
  background:#635B53 url(tab_selected.png) no-repeat 0 0}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background:#635B53 url(tab_selected.png) no-repeat 100% 0;
  color:#111}

ul#menu li a:hover
{ color:#ECEF01}

#content_header, #content_footer
{ width:1122px;
  background:url(content_header.png) no-repeat center;
  height:14px}

#content_footer
{ background:url(content_footer.png) no-repeat center}

#site_content
{ width:1060px;
  overflow:hidden;
  margin:0 auto 0 auto;	
  padding:0 20px 20px 40px;
  background:#FFF;
  border-left:1px solid #ECECE0;
  border-right:1px solid #ECECE0} 

.sidebar
{ float:right;
  width:200px;
  padding:0 25px 20px 15px}

.sidebar ul
{ width:178px; 
  padding:4px 0 0 0; 
  margin:4px 0 30px 0}

.sidebar li
{ list-style:none; 
  padding:0 0 7px 0}

.sidebar li a, .sidebar li a:hover
{ padding:0 0 0 35px;
  display:block;
  background:transparent url(link.png) no-repeat left center} 

.sidebar li a.selected
{ color:#444;
  text-decoration:none} 

#content
{ text-align:left;
  width:700px;
  padding:0px 0px 0px 25px}

#content ul
{ margin:2px 0 22px 0px}

#content ul li
{ list-style-type:none;
  background:url(bullet.png) no-repeat;
  margin:0 0 6px 0; 
  padding:0 0 4px 25px;
  line-height:1.5em}

#footer
{ width:916px;
  font:normal 90% arial;
  height:28px;
  margin-top:20px;
  padding:20px 0 5px 0;
  text-align:center; 
  background:transparent;
  color:#333;
  text-transform:uppercase;
  letter-spacing:0.1em}

#footer a, #footer a:hover
{ color:#888;
  text-decoration:none}

#footer a:hover
{ color:#333}

.search
{ color:#5D5D5D; 
  border:1px solid #BBB; 
  width:134px; 
  padding:4px; 
  font:100% arial}

.form_settings
{ margin:15px 0 0 0}

.form_settings p
{ padding:0 0 4px 0}

.form_settings span
{ float:left; 
  width:200px; 
  text-align:left}
  
.form_settings input, .form_settings textarea
{ padding:5px; 
  width:299px; 
  font:100% arial; 
  border:1px solid #E5E5DB; 
  background:#FFF; 
  color:#47433F}
  
.form_settings .submit
{ font:100% arial; 
  border:1px solid; 
  width:99px; 
  margin:0 0 0 212px; 
  height:33px;
  padding:2px 0 3px 0;
  cursor:pointer; 
  background:#3B3B3B; 
  color:#FFF}

.form_settings textarea, .form_settings select
{ font:100% arial; 
  width:299px}

.form_settings select
{ width:310px}

.form_settings .checkbox
{ margin:4px 0; 
  padding:0; 
  width:14px;
  border:0;
  background:none}

.separator
{ width:100%;
  height:0;
  border-top:1px solid #D9D5CF;
  border-bottom:1px solid #FFF;
  margin:0 0 20px 0}
  
table
{ margin:10px 0 30px 0}

table tr th, table tr td
{ background:#3B3B3B;
  color:#FFF;
  padding:7px 4px;
  text-align:left}
  
table tr td
{ background:#F4F4EE;
  color:#47433F;
  border-top:1px solid #FFF}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}